<div class="wide">
  <div class="img-logo p-3">
    <a>
      <img src="./assets/img/EASYGO_logo.png" alt="Logo EasyGo">
    </a>
  </div>
  <div class="form col-6">
    <div class="container-fluid">
      <p class="text-center fw-bold fs-1 mb-20">Đăng Nhập</p>
      <form [formGroup]="loginForm" (submit)="onLoginSubmit()">

        <div class="mb-3 ">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

            <input type="text" name="username" id="username" class="form-control" formControlName="username"
              placeholder="Nhập username" required
              [class.is-invalid]="this.loginForm.controls['username'].invalid && this.loginForm.controls['username'].touched">
          </div>

          <div *ngIf="this.loginForm.controls['username'].invalid && this.loginForm.controls['username'].touched">
            <small class="text-danger" *ngIf="this.loginForm.controls['username'].errors?.['required']">Bạn chưa nhập
              Username</small>
            <small class="text-danger" *ngIf="this.loginForm.controls['username'].errors?.['minlength']">Username không
              hợp lệ</small>
          </div>

        </div>
        <div class="mb-3 input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" id="password" class="form-control" formControlName="password"
            placeholder="Nhập password" required>
        </div>
        <div class="mt-20">
          <button type="submit" class="btn btn-primary btn-login mt-20 fw-bold fs-2">Đăng nhập</button>
        </div>
      </form>
    </div>

  </div>

</div>

<app-footer></app-footer>