<div class="wide">
  <div class="img-logo p-3">
    <a>
      <img src="./assets/img/EASYGO_logo.png" alt="Logo EasyGo">
    </a>
  </div>
  <div class="form col-6">
    <div class="container-fluid">
      <p class="text-center fw-bold fs-1 mb-20">Đăng Nhập</p>
      <form #registerForm="ngForm">

        <div class="mb-3 ">
          
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

            <input type="text" #username="ngModel" name="username" id="username" class="form-control"
              placeholder="Enter username" [(ngModel)]="admin.username" required
              [class.is-invalid]="username.invalid && username.touched">
          </div>
          <div *ngIf="username.errors && (username.invalid || username.touched)">
            <small class="text-danger" *ngIf="username.errors['required']">Bạn chưa nhập username</small>
            <small class="text-danger" *ngIf="username.errors['username']">username không hợp lệ</small>
          </div>

        </div>
        <div class="mb-3 input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" id="password" class="form-control" formControlName="pass" placeholder="Enter PassWord">
        </div>
        <div class=" mt-20  ">
          <input type="button" class="btn btn-primary btn-login mt-20 fw-bold fs-2" value="Đăng nhập">
        </div>
      </form>
    </div>

  </div>

</div>