<script>
    $(document).ready(function() {
        $("#myModal").modal("show");
    });
    </script>
    <script>
        $(document).ready(function() {
            $("#myBtn").click(function() {
                var modal = bootstrap.Modal.getOrCreateInstance($("#myModal")[0]);
                console.log(modal);
                // {_element: div#myModal.modal.fade, _config: {…}, _dialog: div.modal-dialog, _backdrop: ke, _isShown: false, …}
            });
        });
    </script>
<div class=" wide">
    <nav class=" navbar fixed-top  navbar-expand-lg navbar-light bg-light">
      <div class="wide">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img src="./assets/img/EASYGO_logo.png" height="15" alt="MDB Logo" loading="lazy" />
        </a>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Photos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Amenities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Review</a>
                </li>
            </ul>
            <ul class="navbar-right ">
                <li class="nav-item dropdown text-end">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        </svg>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</nav>

<hr class="hr-top">
<!-- <a href=""><p class="fs-2">Hanoi,VietNam > Art and Culture > Art > Photography</p>   </a> -->

<!-- section1 -->

<div class="booking--section1 ms-5" id="Photos">

    <p class="fs-1 fw-bold"> {{hotel.name}}</p>
    <div class="row hotel-quality ">
        <div class=" col-6 text-warning">
            <i class="fa fa-star"></i> {{hotel.rating.rate}}
        </div>
        <div class=" col-6  text-end ">
            <i class="fa fa-gift"></i>
            <i class="fa fa-share-square-o"></i>
            <i class="fa fa-heart-o"></i>
        </div>
    </div>

    <div class="container hotel_img">
        <div class="row justify-content-around ">
            <div class="col-xl-3 p-2 ">
                <img src="{{hotel.image[0]}}" alt="5">
            </div>
            <div class="col-xl-3 p-2 ">
                <img src="{{hotel.image[1]}}" alt="5">
            </div>
            <div class="col-xl-3  p-2 ">
                <img src="{{hotel.image[2]}}" alt="5">
            </div>
            <div class="col-sm-3 p-2">
                <img src="{{hotel.image[3]}}" alt="5">
            </div>
        </div>
    </div>

</div>

<!-- section2 -->
<div class="ms-5">
    <div class="row">
        <div class="col-xl-8 ">
            <div class="para1">
                <p class="text-title">
                    Toàn bộ căn hộ cho thuê
                </p>
                <p>{{hotel.numberofpeople}} người, {{hotel.bed}} phòng ngủ, {{hotel.bathroom}} phòng tắm</p>
                <p>{{hotel.city}}, {{hotel.place.province}}, {{hotel.place.country}}</p>
                <hr>
            </div>
            <div class="para2">
                <p class="text-title">
                    Ưu điểm:
                </p>
                <ul style="list-style-type:disc;">
                    <li class="fw-bold">{{hotel.characteristic[0].title}}
                    </li>
                    <p>{{hotel.characteristic[0].content}}</p>
                    <li class="fw-bold">{{hotel.characteristic[1].title}}</li>
                    <p>{{hotel.characteristic[1].content}}</p>

                </ul>
                <hr>
            </div>
            <div class="para3">
                <p class="text-title">
                    Giới thiệu về chỗ ở:
                </p>
                <p>{{hotel.description}}</p>
                <!-- <ul style="list-style-type:disc;">
                    <li> Local, safe, cultural neighbourhood</li>
                    <li>Full of local restaurants and street food down the road</li>
                    <li> Spotlessly clean.</li>
                    <li>Working desk. High speed WIFI.</li>
                    <li>Fully-equipped kitchen</li>
                    <li> 24/7 check-in/check-out</li>
                </ul> -->
                <hr>
            </div>
            <div class="para4">
                <p class="text-title">
                    Tính năng của nơi ở:
                </p>
                <div class="row">
                    <div class="para2-1 col-6">
                        <ul style="list-style-type:disc;">
                            <li> {{hotel.convenient[0]}}</li>
                            <li> {{hotel.convenient[1]}}</li>
                            <li> {{hotel.convenient[2]}}</li>
                            <li> {{hotel.convenient[3]}}</li>
                        </ul>
                    </div>
                    <div class="para2-2 col-6">
                        <ul style="list-style-type:disc;">
                            <li> {{hotel.convenient[4]}}</li>
                            <li>{{hotel.convenient[5]}}</li>
                            <li> {{hotel.convenient[6]}}</li>
                            <li>{{hotel.convenient[7]}}</li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="para5">
                <p class="text-title">
                    Những điều cần lưu ý:
                </p>
            </div>
            <div class="row justify-content-between">
                <div class="col-4">
                    <h5>Nội quy nhà</h5>
                    <ul style="list-style-type:disc;">
                        <li>{{hotel.rule[0]}}</li>
                        <li>{{hotel.rule[1]}}</li>
                        <li> {{hotel.rule[2]}}</li>
                        <li>{{hotel.rule[3]}}</li>
                        <li> {{hotel.rule[4]}}</li>
                        <li>{{hotel.rule[5]}}</li>y
                    </ul>
                </div>
                <div class="col-5 ">
                    <h5>Y tế và An toàn</h5>
                    <ul style="list-style-type:disc;">
                        <li>{{hotel.safety[0]}}</li>
                        <li>{{hotel.safety[1]}}</li>
                        <li>{{hotel.safety[2]}}</li>
                        <li>{{hotel.safety[3]}}</li>
                        <li>{{hotel.safety[4]}}</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5>Chính sách hủy phòng</h5>
                    <ul style="list-style-type:disc;">
                        <li>Thêm ngày cho chuyến đi của bạn để nhận thông tin về chính sách hủy cho đặt phòng này.
                        </li>
                    </ul>

                </div>
            </div>



        </div>

        <div class="col-xl-4">
            <div class="section2-right shadow p-3 mb-5 bg-white rounded">
                <p><span class="font-weight-bold">From 2.000VND</span>/day</p>
                <div class=" booking-inf row flex  booking--border ">
                    <div class=" row m-3">
                        <label for="Check_in" class="col-5">Check in</label>
                        <label class="col-5" for="Check_out">Check out</label>

                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control col-5 text-center" placeholder="thêm ngày">
                        <input type="text" class="form-control col-5 text-center" placeholder="Thêm ngày">
                        <span class="glyphicon glyphicon-search input-group-addon col-2"></span>
                    </div>
                   
                </div>
                <div class="row booking--border booking-inf m-3">
                    <label for="Number-people">Number People</label>
                    <select class="" id="Number-people" name="Number-people">
                        <option value="none">1 people</option>
                        <option value="guava">2 people</option>
                        <option value="lychee">4 people</option>
                        <option value="papaya">6 people</option>
                    </select>
                </div>
              
                <a href="#myModal" class="btn btn-lg btn-primary" data-bs-toggle="modal"> Check room status</a>
                <div id="myModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Send Us a Message</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Comments</label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Send Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<p class="text-title"> Những gợi ý khác</p>
<div class="d-flex flex-wrap flex-sm-row justify-content-evenly">
    <ng-container *ngFor="let s of sameCityArray; let i = index ">
        <div *ngIf="i<3">
            <div class="card m-3" style="width: 250px;" (click)="onSelect(s)">
                <img src="{{s.image[0]}}" class="" width="250" height="150">
                <div class="card-body m-2">
                    <h3 class="card-title text-truncate">{{s.name}}</h3>
                    <div class="d-flex justify-content-between">
                        <h3><span style="color: yellow;">&#9733;</span> {{s.rating.rate}} ({{s.rating.count}} đánh giá)
                        </h3>
                        <span class="h3">${{s.price}}</span>
                    </div>
                </div>
            </div>

        </div>

    </ng-container>

</div>

<!-- <div class="section3">
    <p class="text-title"> Những gợi ý khác</p>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <div class="row justify-content-around">
                    <div class="col-lg-3 p-3 mt-2" *ngFor="let s of sameCityArray; let i = index">
                        <a href="" *ngIf="i<3">
                            <div class="card m-3">
                                <img src="{{s.image[0]}}" class="" width="250" height="150">
                                <div class="card-body m-2">
                                    <h3 class="card-title text-truncate">{{s.name}}</h3>
                                    <div class="d-flex justify-content-between">
                                        <h3><span style="color: yellow;">&#9733;</span> {{s.rating.rate}}
                                            ({{s.rating.count}} đánh giá)</h3>
                                        <span class="h3">${{s.price}}</span>
                                    </div>
                                    <p class="h4 text-danger">$1900</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div> -->

<app-footer></app-footer>

<script>
    $(document).ready(function () {
        $("#myBtn").click(function () {
            $("#myCarousel").carousel("cycle");
        });
    });
</script>
<!-- <script>
    $(document).ready(function(){
        $("#myCarousel").carousel({
            interval: false
        });
    });
    </script> -->
<!-- <script>
        $(document).ready(function(){
            $("#myCarousel").carousel({
                wrap: false
            });
        });
        </script> -->
<!-- Center alignment using text alignment classes -->

<script>
    $(document).ready(function () {
        $("#myCarousel").carousel("nextWhenVisible");
    });
    </script>
        <!-- jQuery Code (to Show Modal on Page Load) -->

