.card, .card img{
  border-radius: 25px;
}
.card-body{
  font-size: 20px;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 0.25s;
  transition-timing-function: ease;
}

.navbar-nav{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
   width: 100%;
    
}


.navbar-nav >li:hover{

  font-weight: bold;
  background-color: #BFC2E8;
  transition: ease-in 0.35s;
  -moz-transition: ease-in 0.35s;
  -webkit-transition: ease-in 0.35s;
  border-radius: 5px;
}
.myCarousel{
  position: relative;
}
.card img{
  border-radius: 25px;
}
.shadow-sm{
  background-color: #EDEDED;
  border-radius: 25px;
}
.carousel-indicators{
  position: absolute;
  bottom: -10px;
  margin: auto;
}