<div class=" wide">
    <nav class=" navbar fixed-top  navbar-expand-lg navbar-light bg-light justify-content-around">
     
        <a class="navbar-brand mt-2 mt-lg-0 col-3" href="#">
            <img class="logo-img"
            src="./assets/img/EASYGO_logo.png" 
            height="15"
            alt="MDB Logo"
            loading="lazy"
        />
        </a>
    
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class=" col-9 collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="#">Photos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Amenities</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Review</a>
            </li>
        </ul>
        <!-- <ul class="navbar-right ">
                <li class="nav-item dropdown text-end">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                </svg>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
        </ul> -->
        
        </div>
            
       
     </nav>
        
        <hr class="hr-top">
        <a href=""><p class="fs-2">Hanoi,VietNam > Art and Culture > Art > Photography</p>   </a>
   
<!-- section1 -->

<div class="booking--section1 ms-5" id="Photos">

    <p class="fs-1 fw-bold"> {{hotel.name}}</p>
    <div class="row hotel-quality ">
        <div class=" col-6 text-warning">
            <i class="fa fa-star"></i> {{hotel.city}}
        </div>
        <div class=" col-6  text-end ">
            <i class="fa fa-gift"></i>
            <i class="fa fa-share-square-o"></i>
            <i class="fa fa-heart-o"></i>
        </div>
    </div>

    <div class="container hotel_img">
        <div class="row justify-content-around ">
            <!-- <img src="http://localhost:3000/{{hotel.image[0]}}"> -->
            <div class="col-xl-3 p-2 overflow-hidden" style="height: 160px">
                <img src="http://localhost:3000/{{ hotel.image[0]}}" alt="{{hotel.name}}">
            </div>
            <div class="col-xl-3 p-2 overflow-hidden" style="height: 160px">
                <img src="http://localhost:3000/{{ hotel.image[1]}}" alt="{{hotel.name}}">
            </div>
            <div class="col-xl-3 p-2 overflow-hidden" style="height: 160px">
                <img src="http://localhost:3000/{{ hotel.image[2]}}" alt="{{hotel.name}}">
            </div>
            <div class="col-xl-3 p-2 overflow-hidden" style="height: 160px">
                <img src="http://localhost:3000/{{ hotel.image[3]}}" alt="{{hotel.name}}">
            </div>
            
        </div>
    </div>

</div>

<!-- section2 -->
<div class="ms-5">
    <div class="row">
        <div class="col-xl-8 ">
            <div class="para1">
                <p class="text-title">
                    Toàn bộ căn hộ cho thuê
                </p>
                <p>{{hotel.numberofpeople}} người</p>
                <hr>
            </div>
            <!-- <div class="para2">
                <p class="text-title">
                    Ưu điểm:
                </p>
                <ul style="list-style-type:disc;">
                    <li class="fw-bold">{{hotel.characteristic[0].title}}
                    </li>
                    <p>{{hotel.characteristic[0].content}}</p>
                    <li class="fw-bold">{{hotel.characteristic[1].title}}</li>
                    <p>{{hotel.characteristic[1].content}}</p>

                </ul>
                <hr>
            </div> -->
            <div class="para3">
                <p class="text-title">
                    Giới thiệu về chỗ ở:
                </p>
                <p>{{hotel.description}}</p>
                <!-- <ul style="list-style-type:disc;">
                    <li> Local, safe, cultural neighbourhood</li>
                    <li>Full of local restaurants and street food down the road</li>
                    <li> Spotlessly clean.</li>
                    <li>Working desk. High speed WIFI.</li>
                    <li>Fully-equipped kitchen</li>
                    <li> 24/7 check-in/check-out</li>
                </ul> -->
                <hr>
            </div>
            <div class="para4">
                <p class="text-title">
                    Tính năng của nơi ở:
                </p>
                <div class="row">
                    <div class="para2-1 col-6">
                        <ul style="list-style-type:disc;">
                            <li> {{hotel.convenient[0]}}</li>
                            <li> {{hotel.convenient[1]}}</li>
                            <li> {{hotel.convenient[2]}}</li>
                            <li> {{hotel.convenient[3]}}</li>
                        </ul>
                    </div>
                    <div class="para2-2 col-6">
                        <ul style="list-style-type:disc;">
                            <li> {{hotel.convenient[4]}}</li>
                            <li>{{hotel.convenient[5]}}</li>
                            <li> {{hotel.convenient[6]}}</li>
                            <li>{{hotel.convenient[7]}}</li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="para5">
                <p class="text-title">
                    Những điều cần lưu ý:
                </p>
            </div>
            <div class="row justify-content-between">
                <div class=" col-xl-3 col-md-6 col-6">
                    <h5>Nội quy nhà</h5>
                    <ul style="list-style-type:disc;">
                        <li>{{hotel.rule}}</li>
                    </ul>
                </div>
                <div class=" col-xl-6 col-md-12 col-12">
                    <h5>Y tế và An toàn</h5>
                    <ul style="list-style-type:disc;">
                        <li>{{hotel.safety}}</li>
                    </ul>
                </div>
                <div class=" col-xl-3 col-md-6 col-6">
                    <h5>Chính sách hủy phòng</h5>
                    <ul style="list-style-type:disc;">
                        <li>Thêm ngày cho chuyến đi của bạn để nhận thông tin về chính sách hủy cho đặt phòng này.
                        </li>
                    </ul>

                </div>
            </div>



        </div>
   
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="section2-right shadow p-3 mb-5 bg-white rounded">
                <p><span class="font-weight-bold">From ${{hotel.price}}</span>/day</p>
                <div class=" booking-inf row flex  booking--border ">
                    <div class=" row m-3">
                        <label for="Check_in" class="col-5">Check in</label>
                        <label class="col-5" for="Check_out">Check out</label>

                    </div>
                    <div class="input-group  p-2 fs">
                        <input type="date" class="input-date form-control col-5 text-center" placeholder="thêm ngày">
                        <input type="date" class="input-date form-control col-5 text-center" placeholder="Thêm ngày">
                        <span class="input-group-addon col-2  bg-white p-2"><svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg></span>
                    </div>
                   
                </div>
                <div class="row booking--border booking-inf mt-4">
                    <p class="fw-bold" for="Number-people">Number People</p>
                    <select class="mb-2 select" id="Number-people" name="Number-people">
                        <option value ="none">1 people</option>
                        <option value ="guava">2 people</option>
                        <option value ="lychee">4 people</option>
                        <option value ="papaya">6 people</option>
                    </select> 
                </div>
              
                <a href="#myModal" class="" data-bs-toggle="modal"><button class="filter__btn mt-4 "> Kiểm tra </button></a>
                <!-- Modal HTML -->
                <div id="myModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class=" room-detail bg-white">
                            <div class="modal-content">
                                <div class="header-room text-start cl-bg text-light lh-lg">
                                    <p class="text-white fs-2 fw-bold text-center">Request</p>
                                   </div> 
                                   <form [formGroup]="testForm" (ngSubmit)="onSubmit(testForm.value)">
                                        <div class="row">  
                
                                            <div class="col-lg-8 col-md-12 p-3">
                                                <div class="mb-3">
                                                    <label class="cl-text" for="guestName">Guest Name </label>
                                                    <input class="form-control" type="text" id="guestName" name="guestName" formControlName="guestName" [class.is-invalid]="guestNameInput.invalid && guestNameInput.touched" placeholder="Dalat hotel">
                                                    <div *ngIf="guestNameInput.invalid && guestNameInput.touched">
                                                        <small class="text-danger" *ngIf="guestNameInput.errors?.['required']">
                                                            Room Name is required
                                                        </small>
                                                        <small class="text-danger" *ngIf="guestNameInput.errors?.['minlength']">
                                                        Room Name must contain at least 3 characters
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="cl-text" for="name">Room Name </label>
                                                    <input class="form-control" type="text" id="name" formControlName="name" [class.is-invalid]="nameInput.invalid && nameInput.touched" placeholder="Dalat hotel">
                                                    <div *ngIf="nameInput.invalid && nameInput.touched">
                                                        <small class="text-danger" *ngIf="nameInput.errors?.['required']">
                                                            Room Name is required
                                                        </small>
                                                        <small class="text-danger" *ngIf="nameInput.errors?.['minlength']">
                                                        Room Name must contain at least 3 characters
                                                        </small>
                                                    </div>
                                                </div>
                                            
                                                <div class="mb-3">
                                                    <label class="cl-text" for="email">Email *</label>
                                                    <input type="email" id="email" name="email" class="form-control" formControlName="email" [class.is-invalid]=" emailInput.invalid &&  emailInput.touched " placeholder="abc@"> 
                                                    <div *ngIf=" emailInput.invalid &&  emailInput.touched">
                                                        <small class="text-danger" *ngIf="emailInput.errors?.['required']">Email không được để trống</small>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="cl-text" for="phone">Phone *</label>
                                                    <input type="tel" id="phone" name="phone" class="form-control" formControlName="phone" [class.is-invalid]=" phoneInput.invalid &&  phoneInput.touched " placeholder="0374178623"> 
                                                    <div *ngIf=" phoneInput.invalid &&  phoneInput.touched">
                                                        <small class="text-danger" *ngIf="phoneInput.errors?.['required']">Phone không được để trống</small>
                                                        <!-- <small class="text-danger" *ngIf=" addressInput.errors?.['pattern']">Address phải có tối thiểu 10 ký tự</small> -->
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="cl-text" for="address">Address *</label>
                                                    <input type="text" id="address" name="address" class="form-control" formControlName="address" [class.is-invalid]=" addressInput.invalid &&  addressInput.touched " placeholder="Ho Chi Minh">
                                                    <div *ngIf=" addressInput.invalid &&  addressInput.touched">
                                                        <small class="text-danger" *ngIf="addressInput.errors?.['required']">Address không được để trống</small>
                                                        <small class="text-danger" *ngIf=" addressInput.errors?.['minlength']">Address phải có tối thiểu 10 ký tự</small>
                        
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="cl-text" for="roomName">Room Name </label>
                                                    <input class="form-control" type="text" id="roomName" name="roomName" formControlName="roomName" [class.is-invalid]="roomNameInput.invalid && roomNameInput.touched" placeholder="Dalat hotel">
                                                    <div *ngIf="roomNameInput.invalid && roomNameInput.touched">
                                                        <small class="text-danger" *ngIf="roomNameInput.errors?.['required']">
                                                            Room Name is required
                                                        </small>
                                                        <small class="text-danger" *ngIf="roomNameInput.errors?.['minlength']">
                                                        Room Name must contain at least 3 characters
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-between">
                                                    <div class="col-5 form--date">
                                                        <div class="mb-3">
                                                            <label class="cl-text" for="date">Date * </label>
                                                            <input class="form-control" type="date" id="date" name="date" formControlName="name" [class.is-invalid]="dateInput.invalid && dateInput.touched" placeholder="Dalat hotel">
                                                            <div *ngIf="dateInput.invalid && dateInput.touched">
                                                                <small class="text-danger" *ngIf="dateInput.errors?.['required']">
                                                                   Date is required
                                                                </small>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="col-5 checktime_input">
                                                        <div class="mb-3">
                                                            <label class="cl-text" for="checkIn">Check in *</label>
                                                            <select class="form-control" name="checkIn" id="checkIn">
                                                                <option>12 PM</option>
                                                                <option >6 AM</option>
                                                                <option>6 PM</option>
                                                                <option>15 PM</option>
                                                              </select>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="cl-text" for="requires">Requires *</label>
                                                    <textarea class="form-control textarea" aria-label="With textarea"id="requires" name="requires" formControlName="safety" [class.is-invalid]="requiresInput.invalid && requiresInput.touched" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nulla consequuntur fuga temporibus dolorum distinctio itaque esse, deleniti quo ipsam officiis vel consectetur minima aliquam eius voluptate necessitatibus cumque minus."></textarea>
                                                    <div *ngIf=" requiresInput.invalid &&  requiresInput.touched">
                                                        <small class="text-danger" *ngIf="requiresInput.errors?.['required']">Address không được để trống</small>
                                                        <small class="text-danger" *ngIf=" requiresInput.errors?.['minlength']">Address phải có tối thiểu 10 ký tự</small>
                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="form_booking-right col-lg-3 col-md-12 p-3">
                                                <div class="mb-3">
                                                    <label class="cl-text" for="type">Room Type *</label>
                                                    <select class="form-control" name="type">
                                                        <option>Standard</option>
                                                        <option>Large</option>
                                                        <option>Small</option>
                                                        <option>custom</option>
                                                      </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="cl-text" for="price">Price *</label>
                                                    <input type="text" id="price" name="name" class="form-control" formControlName="price" [class.is-invalid]=" priceInput.invalid &&  priceInput.touched " placeholder="USD">
                                                    <div *ngIf="priceInput.invalid &&  priceInput.touched">
                                                        <small class="text-danger" *ngIf="priceInput.errors?.['required']">Price không được để trống</small>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="cl-text" for="number">Number of People *</label>
                                                    <input type="text" id="number" class="form-control" formControlName="number" [class.is-invalid]=" numberInput.invalid &&  numberInput.touched " placeholder="2">
                                                    <div *ngIf="numberInput.invalid &&  numberInput.touched">
                                                        <small class="text-danger" *ngIf="numberInput.errors?.['required']">Address không được để trống</small>
    
                        
                                                    </div>
                                                </div>
                                            </div>
                                   
                                         </div>
                                         <div class=" row p-3 justify-content-around text-center">
                                            <button type="button" class="btn cl-bg btn-save fw-bold fs-3" data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn cl-bg btn-save fw-bold fs-3" type="submit" [disabled]="testForm.invalid ||!file">Accept</button>
                                        </div>
                                    </form>
                            </div>
                           
                        </div>
                            
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<p class="text-title"> Những gợi ý khác</p>
<div class="d-flex flex-wrap flex-sm-row justify-content-evenly">
    <ng-container *ngFor="let s of sameCityArray; let i = index ">
        <div *ngIf="i<3">
            <div class="card m-3" style="width: 250px; height: 250px;" (click)="onSelect(s)">
                <img src="http://localhost:3000/{{s.image[0]}}" width="auto" height="150" class="overflow-hidden">
                <div class="card-body m-2">
                    <h3 class="card-title text-truncate">{{s.name}}</h3>
                    <div class="d-flex justify-content-between">
                        <h3><span style="color: yellow;">&#9733;</span> {{s.rating.rate}} ({{s.rating.count}} đánh giá)
                        </h3>
                        <span class="h3">${{s.price}}</span>
                    </div>
                </div>
            </div>

        </div>

    </ng-container>

</div>

<!-- <div class="section3">
    <p class="text-title"> Những gợi ý khác</p>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <div class="row justify-content-around">
                    <div class="col-lg-3 p-3 mt-2" *ngFor="let s of sameCityArray; let i = index">
                        <a href="" *ngIf="i<3">
                            <div class="card m-3">
                                <img src="{{s.image[0]}}" class="" width="250" height="150">
                                <div class="card-body m-2">
                                    <h3 class="card-title text-truncate">{{s.name}}</h3>
                                    <div class="d-flex justify-content-between">
                                        <h3><span style="color: yellow;">&#9733;</span> {{s.rating.rate}}
                                            ({{s.rating.count}} đánh giá)</h3>
                                        <span class="h3">${{s.price}}</span>
                                    </div>
                                    <p class="h4 text-danger">$1900</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div> -->

<app-footer></app-footer>

<script>
    $(document).ready(function () {
        $("#myBtn").click(function () {
            $("#myCarousel").carousel("cycle");
        });
    });
</script>
<!-- <script>
    $(document).ready(function(){
        $("#myCarousel").carousel({
            interval: false
        });
    });
    </script> -->
<!-- <script>
        $(document).ready(function(){
            $("#myCarousel").carousel({
                wrap: false
            });
        });
        </script> -->
<!-- Center alignment using text alignment classes -->

<script>
    $(document).ready(function () {
        $("#myCarousel").carousel("nextWhenVisible");
    });
    </script>
        <!-- jQuery Code (to Show Modal on Page Load) -->

