
<footer class="footer sticky-bottom mt-5">
    <div class="row">
        <div class="col-xl-3 col-md-6 text-center footer-logo">
            <div class=""> <a href="./index.html"><img src="./assets/img/EASYGO_logo.png" alt=""></a></div>
            <div class="fs-5">
            <p class="text-wrap" >Book your trip in minute, get full control for much longer</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-8 col-md-8">
            <div class="row">
                <div class="col-4">
                    <ul class="footer__ul fs-3" >
                        <li><h3 class="fw-bold ">Company</h3></li>
                        <li>
                            <a href="#"> About </a>
                        </li>
                        <li>
                            <a href="#"> Careers </a>
                        </li>
                        <li><a href="#"> Mobile</a></li>
                    </ul>
                </div>
               
                <div class="col-4">
                    <ul class="footer__ul fs-3">
                        <li><h3 class="fw-bold ">Contact</h3></li>
                        <li>
                            <a href="#"> Help/FQA </a>
                        </li>
                        <li>
                            <a href="#"> Press </a>
                        </li>
                        <li><a href="#"> Affiliate</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="footer__ul fs-3" >
                        <li><h3 class="fw-bold ">More</h3></li>
                        <li>
                            <a href="#"> AirlineFees</a>
                        </li>
                        <li>
                            <a href="#"> Airlines </a>
                        </li>
                        <li><a href="#"> Low fare tips</a></li>
                    </ul>
                </div>
            </div>
          
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4">
           <div class="footer__media--socialIcon">
                <a href="#">
                    <i class="fa fa-facebook" ></i> 
                </a>
                <a href="#">
                    <i class="fa fa-instagram" ></i> 
                </a>
                <a href="#">
                    <i class="fa fa-twitter" ></i> 
                </a>
                 <a href="#">
                    <i class="fa fa-youtube" ></i> 
                </a>
           </div>
           <div class="footer__media--discover">
               <p class="fw-bold fs-2">Discover our app</p>
               <div class="row">
                   <div class="col-6">
                        <a href="#" class="footer__img--discover">
                            <img src="./assets/img/AppStore.PNG" alt="">
                        </a>
                   </div>
                   <div class="col-6">
                        <a href="#" class="footer__img--discover">
                            <img src="./assets/img/CHplay.PNG" alt="">
        
                        </a>
                   </div>
               </div>
               
               
            </div>
        </div>
    </div>
    
    <div class="text-center mt-15 font-weight-bold fs-5">
        <p>All rights Reserved @easygo.com</p>
    </div>
</footer>
