
    <section class="discover-total__heading">
        <div class="discover-top__heading">
            <div class="discover__logo--img">
                <a href="index.html">
                    <img src="./assets/img/EASYGO_logo.png" alt="">
                </a>
            </div>
            <div class="discover__search">
                <div class="discover__search--nearby">
                    <a href="">Nearby</a>
                </div>
                <div class="discover__search--date">
                    <a href="">Add date</a>
                </div>
                <div class="discover__search--icon">
                    <a href=""><i class="fa fa-search"></i></a>

                </div>

            </div>
            <div class="discover--personal">
                <a href="#" onclick="showFilter('.nav__overlay')">
                    <i class="fa fa-bars discover-icon__heading"></i>
                    <i class="fa fa-user discover-icon__heading" aria-hidden="true"></i>
                </a>
            </div>
            <div class="nav__overlay">
                <div class="index__login-sub ">
                    <div class="wide-login">
                        <div class="login_form">
                            <div class="login__header form__row">
                                <div><a href="#" onclick="hideFilter('.nav__overlay')"><i class="far fa-times-circle"></i></a></div>
                                <div class="login-header__text">Log in or Sign up</div>
                            </div>
                            <hr>
                            <div class="login-title form__row">Welcome to EasyGo</div>
                            <div class="form__row">
                                <input class="login__input" type="text" placeholder="Full name">
                            </div>
                            <div class="form__row">
                                <input class="login__input" type="text" placeholder="Phone number">
                            </div>
                            <p class=" login_text-small">We'll call or text you to confirm your number
                            </p>
                            <button class="login__btn  " onclick="hideFilter('.nav__overlay')"> Continue</button>

                        </div>
                        <div class="form__row b">
                            <hr class="hr-or">
                            <span class="login_text-or">Or</span>
                            <hr class="hr-or">
                        </div>
                        <div class="login_dif">
                            <div class="login_dif-item login__input">
                                <a href="#" onclick="hideFilter('.nav__overlay')">
                                    <i class="fa fa-facebook"></i>
                                    <input class="login_dif-input" type="button" value="Continue with Facebook">
                                </a>
                            </div>
                            <div class="login_dif-item login__input">
                                <a href="#" onclick="hideFilter('.nav__overlay')">
                                    <i class="fab fa-google"></i>
                                    <input class="login_dif-input" type="button" value="Continue with Google">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="discover-bottom__heading">
            <div class="self-wide">
                <div class="row">
                    <div class="col" id="no-display">
                        <div class="discover__nav--item"><a href="">Guest</a></div>
                    </div>
                    <div class="col" id="no-display">
                        <div class="discover__nav--item"><a href="">Prices</a></div>
                    </div>
                    <div class="col" id="no-display">
                        <div class="discover__nav--item"><a href="">Languages</a></div>
                    </div>
                    <div class="col" id="no-display">
                        <div class="discover__nav--item"><a href="">Sports</a></div>
                    </div>
                    <div class="col self-display">
                        <div class="discover__nav--item"><a href="">Food and drink</a></div>
                    </div>
                    <div class="col self-display">
                        <div class="discover__nav--item"><a href="">Art and culture</a></div>
                    </div>
                    <div class="col self-display">
                        <div class="discover__nav--item"><a href="">Nature and outdoors</a></div>
                    </div>
                    <div class="col self-display">
                        <div class="discover__nav--item"><a href="#" onclick="showFilter('.discover-filter')">Filter</a>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>
    <section class="discover__content--img">
        <div class="wide">
            <div class="row">
                <div class="col">
                    <div class="discover__content-item">
                        <div class="discover__content-img">
                            <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg" alt="">
                        </div>
                        <a href="booking.html">
                            <div class="discover__content-info">
                                <h4>HaNoi Street Food Tour with Real Foodie </h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="discover__content-item">
                        <div class="discover__content-img">
                            <img src="./assets/img/disover_thing/new/French Quarter Tour- Past and Present.jpeg" alt="">
                        </div>
                        <a href="booking.html">
                            <div class="discover__content-info">
                                <h4>HaNoi Street Food Tour with Real Foodie </h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col" id="display-n">
                    <div class="discover__content-item">
                        <div class="discover__content-img">
                            <img src="./assets/img/disover_thing/new/Street Food Tour Eating till Surrendered.jpeg"
                                alt="">
                        </div>
                        <a href="booking.html">
                            <div class="discover__content-info">
                                <h4>HaNoi Street Food Tour with Real Foodie </h4>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col">
                    <div class="discover__content-item">
                        <div class="discover__content-img">
                            <img src="./assets/img/disover_thing/new/French Quarter Tour- Past and Present.jpeg" alt="">
                        </div>
                        <a href="booking.html">
                            <div class="discover__content-info">
                                <h4>HaNoi Street Food Tour with Real Foodie </h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="discover__content-item">
                        <div class="discover__content-img">
                            <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg" alt="">
                        </div>
                        <a href="booking.html">
                            <div class="discover__content-info">
                                <h4>HaNoi Street Food Tour with Real Foodie </h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col" id="display-n">
                    <div class="discover__content-item">
                        <div class="discover__content-img">
                            <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg" alt="">
                        </div>
                        <a href="booking.html">
                            <div class="discover__content-info">
                                <h4>HaNoi Street Food Tour with Real Foodie </h4>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col">
                    <div class="discover__content-item">
                        <div class="discover__content-img">
                            <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg" alt="">
                        </div>
                        <a href="booking.html">
                            <div class="discover__content-info">
                                <h4>HaNoi Street Food Tour with Real Foodie </h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="discover__content-item">
                        <div class="discover__content-img">
                            <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg" alt="">
                        </div>
                        <a href="booking.html">
                            <div class="discover__content-info">
                                <h4>HaNoi Street Food Tour with Real Foodie </h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col" id="display-n">
                    <div class="discover__content-item">
                        <div class="discover__content-img">
                            <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg" alt="">
                        </div>
                        <a href="booking.html">
                            <div class="discover__content-info">
                                <h4>HaNoi Street Food Tour with Real Foodie </h4>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>

    </section>
    <div class="page-number">
        <div class="wide">
            <div class="row">
                <div class="page-number-list">
                    <a href="#">
                        <div class="page page-1">1</div>
                    </a>
                    <a href="#">
                        <div class="page page-2">2</div>
                    </a>
                    <a href="#">
                        <div class="page page-3">3</div>
                    </a>
                    <a href="#">
                        <div class="page pages">...</div>
                    </a>
                    <a href="#">
                        <div class="page page-10">10</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="discover__introduce--img">
        <div class="container-fluid my-5">
            <h3>Introducing Online Experiences</h3>
            <div class="row">
                <div class="col-12 m-auto">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="col">
                                <div class="discover__introduce-item">
                                    <div class="discover__introduce-img">
                                        <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg"
                                            alt="">
                                    </div>
                                    <a href="booking.html">
                                        <div class="discover__introduce-info">
                                            <h4>HaNoi Street Food Tour with Real Foodie </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" id="display-n">
                            <div class="col">
                                <div class="discover__introduce-item">
                                    <div class="discover__introduce-img">
                                        <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg"
                                            alt="">
                                    </div>
                                    <a href="booking.html">
                                        <div class="discover__introduce-info">
                                            <h4>HaNoi Street Food Tour with Real Foodie </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" id="dis-play-n">
                            <div class="col">
                                <div class="discover__introduce-item">
                                    <div class="discover__introduce-img">
                                        <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg"
                                            alt="">
                                    </div>
                                    <a href="booking.html">
                                        <div class="discover__introduce-info">
                                            <h4>HaNoi Street Food Tour with Real Foodie </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col">
                                <div class="discover__introduce-item">
                                    <div class="discover__introduce-img">
                                        <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg"
                                            alt="">
                                    </div>
                                    <a href="booking.html">
                                        <div class="discover__introduce-info">
                                            <h4>HaNoi Street Food Tour with Real Foodie </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" id="display-n">
                            <div class="col">
                                <div class="discover__introduce-item">
                                    <div class="discover__introduce-img">
                                        <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg"
                                            alt="">
                                    </div>
                                    <a href="booking.html">
                                        <div class="discover__introduce-info">
                                            <h4>HaNoi Street Food Tour with Real Foodie </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" id="display-n">
                            <div class="col">
                                <div class="discover__introduce-item">
                                    <div class="discover__introduce-img">
                                        <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg"
                                            alt="">
                                    </div>
                                    <a href="booking.html">
                                        <div class="discover__introduce-info">
                                            <h4>HaNoi Street Food Tour with Real Foodie </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col">
                                <div class="discover__introduce-item">
                                    <div class="discover__introduce-img">
                                        <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg"
                                            alt="">
                                    </div>
                                    <a href="booking.html">
                                        <div class="discover__introduce-info">
                                            <h4>HaNoi Street Food Tour with Real Foodie </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" id="display-n">
                            <div class="col">
                                <div class="discover__introduce-item">
                                    <div class="discover__introduce-img">
                                        <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg"
                                            alt="">
                                    </div>
                                    <a href="booking.html">
                                        <div class="discover__introduce-info">
                                            <h4>HaNoi Street Food Tour with Real Foodie </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" id="display-n">
                            <div class="col">
                                <div class="discover__introduce-item">
                                    <div class="discover__introduce-img">
                                        <img src="./assets/img/disover_thing/new/Hanoi_s urban art galleries_best Pho.jpg"
                                            alt="">
                                    </div>
                                    <a href="booking.html">
                                        <div class="discover__introduce-info">
                                            <h4>HaNoi Street Food Tour with Real Foodie </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>

    </section>

    <div class="discover-filter">
        <form action="" method="get" id="filter_form">
            <div class="form-container">
                <div class="filter-title">More Filter</div>
                <hr>
                <div class="filter-section">
                    <div class="filter-section__title">Activity type</div>
                    <div class="filter-section__checkbox form-check">
                        <input class="form-check-input" type="checkbox" id="check1" name="check1" value="food">
                        <label class="form-check-label" for="check1">Food and drink</label>
                    </div>
                    <div class="filter-section__checkbox form-check">
                        <input class="form-check-input" type="checkbox" id="check2" name="check2" value="art">
                        <label class="form-check-label" for="check2">Art and culture</label>
                    </div>
                    <div class="filter-section__checkbox form-check">
                        <input class="form-check-input" type="checkbox" id="check3" name="check3" value="trans">
                        <label class="form-check-label" for="check3">Transportation activities</label>
                    </div>
                    <div class="filter-section__checkbox form-check">
                        <input class="form-check-input" type="checkbox" id="check4" name="check4" value="nature">
                        <label class="form-check-label" for="check4">Nature and out doors</label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <div class="filter-section">
                    <div class="filter-section__title">Price range</div>
                    <div class="range-wrap">
                        <output class="number"></output>
                        <input type="range" class="range" name="people" max="20">
                    </div>
                </div>
                <hr>
                <div class="filter-section">
                    <div class="filter-section__title">Giá / 1 đêm</div>
                    <div class="filter-section__price">
                        <span>200.000</span>
                        <span>2.000.000</span>
                    </div>
                    <input type="range" class="form-range" id="customRange" step="10" name="points">
                </div>
                <hr>
                <div class="filter-section">
                    <div class="filter-section__title">Language offered</div>
                    <div class="filter-section__checkbox form-check">
                        <input class="form-check-input" type="checkbox" id="lang1" name="lang1" value="english">
                        <label class="form-check-label" for="lang1">English</label>
                    </div>
                    <div class="filter-section__checkbox form-check">
                        <input class="form-check-input" type="checkbox" id="lang2" name="lang2" value="spain">
                        <label class="form-check-label" for="lang2">Spain</label>
                    </div>
                    <div class="filter-section__checkbox form-check">
                        <input class="form-check-input" type="checkbox" id="lang3" name="lang3" value="vietnamese">
                        <label class="form-check-label" for="lang3">Vietnamese</label>
                    </div>
                    <div class="filter-section__checkbox form-check">
                        <input class="form-check-input" type="checkbox" id="lang4" name="lang4" value="german">
                        <label class="form-check-label" for="lang4">German</label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="filter-section filter-button">
                    <button class="filter-reset" type="reset">Clear all</button>
                    <button class="filter-submit" type="submit" onclick="hideFilter('.discover-filter')">Show
                        result</button>

                </div>
            </div>

        </form>


    </div>

    <!--  -->
    <footer>
        <div class="footer">
            <div class="footer__logo">
                <div class="footer__logo--img">
                    <a href="index.html">
                        <img src="./assets/img/EASYGO_logo.png" alt="">

                    </a>
                </div>
                <div class="footer__logo--text">
                    <p>Book your trip in minute, get full control for much longer</p>
                </div>
            </div>
            <div class="footer__link">
                <div class="footer__link--item">
                    <ul class="footer__ul">
                        <li>
                            <h3>Company</h3>
                        </li>
                        <li>
                            <a href="#"> About </a>
                        </li>
                        <li>
                            <a href="#"> Careers </a>
                        </li>
                        <li><a href="#"> Mobile</a></li>
                    </ul>
                </div>

                <div class="footer__link--item">
                    <ul class="footer__ul">
                        <li>
                            <h3>Contact</h3>
                        </li>
                        <li>
                            <a href="#"> Help/FQA </a>
                        </li>
                        <li>
                            <a href="#"> Press </a>
                        </li>
                        <li><a href="#"> Affiliate</a></li>
                    </ul>
                </div>
                <div class="footer__link--item">
                    <ul class="footer__ul">
                        <li>
                            <h3>More</h3>
                        </li>
                        <li>
                            <a href="#"> AirlineFees</a>
                        </li>
                        <li>
                            <a href="#"> Airlines </a>
                        </li>
                        <li><a href="#"> Low fare tips</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__media">
                <div class="footer__media--socialIcon">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
                <div class="footer__media--discover">
                    <h3>Discover our app</h3>
                    <a href="#" class="footer__img--discover">
                        <img src="../../assets/img/disover_thing/online/Discover Hoi An ancient town at night.jpeg" alt="">
                    </a>
                    <a href="#" class="footer__img--discover">
                        <img src="../../assets/img/disover_thing/online/Discover Hoi An ancient town at night.jpeg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="footer__text">
            <p>All rights Reserved @easygo.com</p>
        </div>
    </footer>

   <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    <!-- cdn jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- owl carosel.js -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>
    <script>        
  const range = document.querySelector(".range"); //Khởi tạo biến range từ tên element có class là .range
  const number = document.querySelector(".number");
  const form = document.getElementById("filter_form");

  // Set giá trị ban đầu của input cho output khi vừa load filter 
  setNumber(range, number); 

   // Set giá trị cho output khi input có thay đổi
  range.addEventListener("input", () => {
    setNumber(range, number);
  });

  // Reset lại giá trị của range khi chọn reset form
  form.addEventListener("reset", ()=>{
    number.innerHTML= "0";
    number.style.left = `calc(50% + 0.5px)`;
  }) 

function setNumber(range, number) {
  const val = range.value;
  const min = range.min;
  const max = range.max;
  const newVal = Number(((val - min) * 100) / (max - min));
  number.innerHTML = val;

  // Công thức thay đổi vị trí cho number khi giá trị range thay đổi
  number.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px`;
}

// Ẩn hiện POPUP
function showFilter(name){ 
  document.querySelector(`${name}`).style.display = "block";
  console.log("ok");
}
function hideFilter(name){ 
  document.querySelector(`${name}`).style.display = "none";
}

// ================================

function topScroll(){
  window.scroll({
  top: 0, 
  left: 0, 
  behavior: 'smooth' 
 });
}

    </script>


