
<!-- <div class="filter">
    <div class="container">
        <div class="filter-title">Bộ lọc</div>
        <div class="filter-section">
            <div class="filter-section__title">Giá / 1 đêm</div>
            <div class="filter-section__price">
                <span>200.000</span>
                <span>2.000.000</span>
            </div>
            <input type="range" class="form-range" id="customRange" step="10" name="points">
        </div>
        <div class="filter-section">
            <div class="filter-section__title">Loại chỗ ở</div>
            <div class="filter-section__checkbox form-check">
                <input class="form-check-input" type="checkbox" id="check1" name="check1" value="canho">
                <label class="form-check-label" for="check1">Căn hộ</label>
            </div>
            <div class="filter-section__checkbox form-check">
                <input class="form-check-input" type="checkbox" id="check2" name="check2" value="resort">
                <label class="form-check-label" for="check2">Resort</label>
            </div>
            <div class="filter-section__checkbox form-check">
                <input class="form-check-input" type="checkbox" id="check3" name="check3" value="nhatro">
                <label class="form-check-label" for="check3">Nhà trọ</label>
            </div>
            <div class="filter-section__checkbox form-check">
                <input class="form-check-input" type="checkbox" id="check4" name="check4" value="nhakhach">
                <label class="form-check-label" for="check4">Nhà khách</label>
            </div>
            <div class="filter-section__checkbox form-check">
                <input class="form-check-input" type="checkbox" id="check5" name="check5" value="hotel">
                <label class="form-check-label" for="check5">Khách sạn</label>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr>
        <div class="filter-section">
            <div class="filter-section__title">Số lượng người</div>
            <div class="range-wrap">
                <output class="number"></output>
                <input type="range" class="range" name="people" max="20">
            </div>
        </div>
        <hr>
        <div class="filter-section">
            <div class="filter-section__title">Tiện nghi</div>
            <div class="form-check form-switch">
                <label class="form-check-label" for="parking">Chỗ để xe</label>
                <input class="form-check-input" type="checkbox" id="parking" name="parking" value="yes" checked>
            </div>
            <hr>
            <div class="form-check form-switch">
                <label class="form-check-label" for="res">Nhà hàng</label>
                <input class="form-check-input" type="checkbox" id="res" name="res" value="yes">
            </div>
            <hr>
            <div class="form-check form-switch">
                <label class="form-check-label" for="pool">Hồ bơi</label>
                <input class="form-check-input" type="checkbox" id="pool" name="pool" value="yes">
            </div>
            <hr>
            <div class="form-check form-switch">
                <label class="form-check-label" for="pet">Cho phép mang vật nuôi</label>
                <input class="form-check-input" type="checkbox" id="pet" name="pet" value="yes">
            </div>
            <hr>
            <div class="form-check form-switch">
                <label class="form-check-label" for="smoke">Phòng không hút thuốc</label>
                <input class="form-check-input" type="checkbox" id="smoke" name="smoke" value="yes">
            </div>
            <hr>
            <div class="form-check form-switch">
                <label class="form-check-label" for="spa">Spa</label>
                <input class="form-check-input" type="checkbox" id="spa" name="spa" value="yes">
            </div>
        </div>
        <hr>
        <div class="filter-section">
            <button class="filter-submit" onclick="hideFilter('.filter');">Lọc</button>
        </div>
    </div>

</div> -->
<div class="container">
    <div class="d-flex flex-wrap flex-sm-row">
        <div class="card m-3 p-3" *ngFor="let p of products" style="width: 400px;">
            <span class="badge md-3 bg-warning text-center" style="font-size: 15px; width: 60px">-25%</span>
            <span class="text-center">
                <img src="{{p.image}}" class="align-center" width="250" height="250"> 
            </span>
            <div class="card-body">
                <h4 class="card-title text-truncate">{{p.title}}</h4>
                <p class="h4 text-danger">${{p.price}}</p>
                <div class="d-flex justify-content-between">
                    <span>&#9733; {{p.rating.rate}}</span>
                    <span>Count: {{p.rating.count}}</span>
                </div>
            </div>
            <button class="btn bg-warning text-white text-center">Buy Now</button>
        </div>
    </div>
</div>
