<div class="filter text-center m-3">
    <div class="d-inline filter-group" *ngFor="let filter of filterList">
        <input type="checkbox" class="btn-check" id="{{filter.inputID}}" autocomplete="off" value="{{filter.inputValue}}" (change)="onChange($event)">
        <label class="btn btn-outline-dark mx-2 p-3" for="{{filter.inputID}}" >{{filter.name}}</label>
    </div>

</div>

<div class="container">
    <div class="d-flex flex-wrap flex-sm-row">
        <div class="card m-3" *ngFor="let hotel of hotelArray" style="width: 400px;" >
            <img src="{{hotel.image[0]}}" class="" width="400" height="300">
            <div class="card-body m-2">
                <h3 class="card-title text-truncate">{{hotel.name}}</h3>
                <div class="d-flex justify-content-between">
                    <h3><span style="color: yellow;">&#9733;</span> {{hotel.rating.rate}} ({{hotel.rating.count}} đánh giá)</h3>
                    <span class="h3">${{hotel.price}}</span>
                </div>
            </div>
        </div>
    </div>
</div>