* {
    /* background: #F7F7F8; */
}

a {
    text-decoration: none;
    color: #030229ba;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.admin-menu,
.admin-menu div {
    background: #FFFFFF;
    border-radius: 15px;
}

p {
    color: #030229;
    font-family: "Poppins";
}

table {
    font-family: "Poppins";
}

.wide {
    background-color: #E5E5E5;
}

.cl-bg {
    /* background-color: #6e749c; */
    /* background-color: #303972; */
}

.cl-text {
    /* color: #303972; */
    font-size: 20px;
    font-weight: bold;
}

.admin-img {
    width: 100px;
    height: 100px;

}

.img-logo {
    width: 80%;
}

.cl-left {
    /* color: #0600F0; */
}

.admin-avt {
    width: 30px;
    height: 30px;
}

.room-detail {
    border-radius: 25px;
}

.textarea {
    height: 100px;
    max-block-size: 120px;
    overflow-y: hidden;
}

.header-room {
    border-start-start-radius: 25px;
    border-start-end-radius: 25px;
}

.btn-save {
    width: 20%;
    height: 50px;
    color: #ffff;

}

.active {
    color: #0800f083;
}